name: build_dll
on:
  workflow_dispatch

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build and run tests
        run: ./script/build.bat
